*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
}



.main_wrapper{
    width: 400px;
    height: 350px;
    background-color: red;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 0;
    overflow: hidden;
    
}

h1{
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}


form{
    height: 50px;
    flex: 1;
    background-color: rgb(10, 10, 92);
}


.add_task{
    width: 100%;
    display: flex;
}


form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: #595995;
    color: #fff;
    font-size: 16px;
}

form input::placeholder{
    color: #fff;
    font-size: 16px;
}


form button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: #0ada14;
    color: aliceblue;
    font-weight: 500;
    font-size: 24px;
}


.task_ul{
    width: 104%;
    height: 300px;
    background-color: #090962;
    height: 83%;
    overflow-y: scroll;
}

.task_ul::-webkit-scrollbar{
    appearance: none;
}


.task_li{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    border-bottom: 1px solid lightgrey;
    padding: 5px 3px;
    position: relative;
}

.fa-trash{
    position: absolute;
    right: 10px;
}

.btn_radio{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10;
    background-color: lightgray;
    text-decoration: line-through ;
    border: none;
}